*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background: linear-gradient(to right, red, green, yellow);
}

h1{
    text-decoration: underline;
    display: inline;
    background-color: teal;
}

nav{
    width: 60%;
    margin: 20px auto ;
    background-color: rgb(158, 222, 247);
    border: 5px solid red;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0;
}

nav ul{
    display: inline-block;
}
nav ul li{
    padding-left: 60px;
}

.css{
    border: 2px solid red;
    background-color: aquamarine;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.papa{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    width: 30%;
    background-color: cyan;
    border: 3px solid green;
    border-radius: 10px;
}

.student{
    text-align: center;
    background: linear-gradient(to right, red, yellow, red);
    padding-bottom: 20px;
    margin: 20px 0;
}

.student h2{
    text-decoration: underline;
    text-decoration-color: darkred;
}

section{
    height: 300px;
    border: 5px solid green;
    background: radial-gradient(blue, rgb(67, 154, 189), lightgreen);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.studentbox{
    font-size: 18px;
    width: 230px;
    height: 130px;
    border: 3px solid brown;
    background-color: rgb(226, 223, 30);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: maroon;
}
.studentbox p{
    padding-bottom: 20px;
}

.container{
    margin: 30px 0;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 78px;
    grid-template-areas: 
    'head head head head'
    'box1 box2 box3 aside'
    'cont cont cont aside'
    'foot foot foot foot';
    gap: 20px;

}

.boxes{
    grid-area: head;
    background-color: rgb(235, 52, 52);
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.box1{
    grid-area: box1;
    background-color: rgb(94, 197, 94);
    text-align: center;
    font-size: 32px;
}
.box2{
    grid-area: box2;
    background-color: rgb(35, 133, 172);
    font-size: 32px;
}
.box3{
    grid-area: box3;
    background-color: blue;
    font-size: 25px;
}
span{
    grid-area: aside;
    background-color: rgb(49, 48, 48);
    font-size: 20px;
}

.lastcontainer{
    grid-area: cont;
    background-color: orange;
    font-size: 23px;
    padding-bottom: 60px;
}
footer{
    grid-area: foot;
    color: black;
    background-color: rgb(89, 241, 191);
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}